# MQTT Broker
MQTT_HOST=localhost
MQTT_PORT=1883

# InfluxDB
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=smart-ranch-dev-token
INFLUX_ORG=smart_ranch
INFLUX_BUCKET=telemetry
INFLUX_PASSWORD=smartranch2026

# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=smart_ranch
PG_USER=ranch_admin
PG_PASSWORD=smartranch2026

# API
API_HOST=0.0.0.0
API_PORT=8000
